@import "./themes/default/index.less";
@import "./core/index.less";
@import "./components/index.less";
@images-url: "/assets/";

/*重置样式*/
html {
    font-family: "微软雅黑", Helvetica, STHeiTi, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}
body {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #333;
    background-color: white;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
a {
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #08c;
}
a:active {
    outline: 0;
}
a:active {
    color: #069;
}
img {
    border: 0;
    vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
    margin: 0;
}
ul,
ol,
li,
dl,
dd {
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style: none outside none;
}
h1,
h2,
h3 {
    line-height: 2;
    font-weight: normal;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #ccc;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ccc;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc;
}
/*清除浮动代码*/
.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.clearfloat {
    zoom: 1;
}
#app {
    background: url("@{images-url}/bbg.png") repeat-y;
}
.icon {
    background: url("@{images-url}/icon.png") no-repeat;
}
.pas-sortlist {
    background: url("@{images-url}/bg.png") no-repeat;
    padding-top: 134px;
    width: 640px;
    margin: 0 auto;
}
.page-top {

}
.page-top-left {
    float: left;
    margin-left: 18px;
    width: 402px;
    margin-left: 10px;
}
.page-top-right {
    float: right;
    width: 186px;
}
.active-explain {
    width: 136px;
    height: 43px;
    background-position: 0 0;
    line-height: 41px;
}
.active-no {
    width: 105px;
    height: 120px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-left: 72px;
    line-height: 41px;
    padding-top: 24px;
    color: #fffefe;
    font-size: 26px;
    background: url("@{images-url}/tree.png") no-repeat;
}
.active-btn-view {
    width: 90px;
    height: 44px;
    background-position: 0 -51px;
    display: inline-block;
}
.active-btn-vote {
    width: 90px;
    height: 44px;
    background-position: 0 -104px;
    display: inline-block;
}
.page-list-ul {
    margin: 18px auto 0;
    width: 620px;
}
.page-list-ul li {
    float: left;
    margin-bottom: 30px;
    width: 50%;
}
.list-ul-div {
    width: 263px;
    position: relative;
    margin: 0 auto;
}
.imgbg {
    position: absolute;
    width: 293px;
    height: 214px;
    top: -15px;
    left: -17px;
    background: url("@{images-url}/imgbg.png") no-repeat;
    z-index: 10;
}
.page-list-ul li img {
    width: 264px;
    height: 175px;
    margin: 0 auto;
}
.li-btn {
    margin-top: 10px;
    text-align: center;
}
.subimgno {
    position: absolute;
    z-index: 11;
    left: 1px;
    top: -17px;
    color: #fff;
    font-size: 30px;
    text-shadow: 1px 0 0 #eb8900,-1px 0 0 #eb8900, 0 1px 0 #eb8900, 0 -1px 0 #eb8900;
}
.note {
    position: absolute;
    z-index: 11;
    color: #fff;
    font-size: 20px;
    left: 30px;
    top: -12px;
    line-height: 28px;
}
.page-btm1 {
    padding-top: 56px;
    width: 498px;
    height: 96px;
    margin: -38px auto 0;
    background: url("@{images-url}/cd.png") no-repeat;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}
.page-btm1 span {
    color: #ffec1e;
}
.page-button {
    width: 308px;
    position: relative;
    margin: 0 auto;
}
.page-button-next {
    width: 308px;
    height: 49px;
    background-position: 0 -191px;
    display: block;
    margin-bottom: 14px;
}
.page-button-return {
    width: 308px;
    height: 49px;
    background-position: 0 -250px;
    display: block;
    margin-bottom: 30px;
}
.page-flag {
    position: absolute;
    width: 90px;
    height: 30px;
    left: -88px;
    top: 7px;
    background-position: 0 -153px;
}
.sub-page {
    padding-top: 972px;
    background: url("@{images-url}/nbg.png") no-repeat;
    height: 164px;
}
.sub-page-text {
    text-align: center;
    color: #3b6409;
    font-size: 27px;
    font-weight: bold;
    line-height: 57px;
    text-shadow: 1px 1px 0 #e4f1ff;
}
.sub-page-btn {
    width: 215px;
    height: 64px;
    margin-bottom: 84px;
    margin: 0 auto;
}
